//- Author: Sergey Zhitenev
//- Licence: "MIT"
//- Дата добавления модуля: 9.03.2015
//- Версия: 0.0.1
//- Description: similar.jade является компонентом интернетмагазина, similar.jade представляет модуль
//- похожих товаров, представляет собой список предметов с похожими характеристиками
//- Требования: Подлежит оптимизации

.similar-holder
	ul.similar
		li.similar-item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ
		li.similar-item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ
		li.similar-item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ
		li.similar-item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ