//- Author: Sergey Zhitenev
//- Licence: "MIT"
//- Дата добавления модуля: 9.03.2015
//- Версия: 0.0.1
//- Description: в register.jade представлен модуль хлебный крошек, разделители создаются псевдоэлементов ::after 
.breadcrumbs-holder
	ul.breadcrumbs
		li
			a(href="#")
				|Главная
		li.active
			a(href="#")
				|Новости