//- Author: Sergey Zhitenev
//- Licence: "MIT"
//- Дата добавления модуля: 8.03.2015
//- Версия: 0.0.1
//- Системный модуль утили, содержит head информацию
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
    	|Title
	link(rel="stylesheet", href="")
	link(rel="stylesheet", href="")