//- Author: Sergey Zhitenev
//- Licence: "MIT"
//- Дата добавления модуля: 9.03.2015
//- Версия: 0.0.1
//- Description: socials.jade представляет набор иконок соц сетей
ul.socials
	//- Основные
	li
		a(href="#").vk
	li
		a(href="#").facebook
	li
		a(href="#").twitter
	li
		a(href="#").linkedin
	//- Побочные
	li
		a(href="#").odnoklass
	li
		a(href="#").moimir
	li
		a(href="#").github