//- Author: Sergey Zhitenev
//- Licence: "MIT"
//- Дата добавления модуля: 9.03.2015
//- Версия: 0.0.1
//- Description: В login.jade представлены различные варианты модуля логин
//- Состоит из формы, в которой несколько полей ввода(логин и пароль), кнопка отправить
//- кнопки востановить пароль и запомнить пароль
//- Требования:
//- 	Возможные реализации:
//- 		1) Стилизованные плейсхолдеры (отсутствие многоязычности)
//- 		2) Реализация с лейблами (плейсхолдеры отстуствуют)
//- 		3) В виде выпадающего окошка (в разработке)
//- 		4) В виде модального окна (индивидуальный вариант)
//- 		5) В виде модального окна Twitter bootstrap

//- Первый вариант, возможны красочные плейсхолдеры, (нужна дополнительная js логика)
.login-holder
	form(action="", method="").login
		input(type="text", value="Ваш логин")#login.login
		input(type="password", value="Ваш пароль")#password.log-password
		.error-holder
			.error-login
				|Такой комбинации логина и пароля не найдено
		input(type="submit", value="Войти").btn.btn-login
		.login-misc
			.retain-holder
				label(for="#retain-pass")
					|Запомнить пароль
				input(type="checkbox")#retain-pass
			a(href="#")
				|Забыли пароль?
//- Второй вариант, с лейблами, возможна стилизация как с горизонтальными  
//- так и с вертикальными, плейсхолдеры здесь не уместны
.login-holder
	form(action="", method="").login
		.line
			label(for="#login")
			input(type="text", value="Ваш логин")#login.login
		.line
			label(for="#password")
			input(type="password", value="Ваш пароль")#password.log-password
		.error-holder
			.error-login
				|Такой комбинации логина и пароля не найдено
		input(type="submit", value="Войти").btn.btn-login
		.login-misc
			.retain-holder
				label(for="#retain-pass")
					|Запомнить пароль
				input(type="checkbox")#retain-pass
			a(href="#")
				|Забыли пароль?
//-Третий вариант представляет собой выпадающее окошко (в разработке)